/* 
----------
GLOBAL
----------
*/

.container {
  max-width: 1200px;
}

/* 
----------
WELCOME
----------
*/

.welcome-container {
  height: 100vh;
}

.welcome-section {
  padding-top: 250px;
  text-align: center;
}

/* 
----------
EXPLORE
----------
*/

.explore-section {
  text-align: center;
}

/* 
----------
SERVICES
----------
*/

.services-section {
  text-align: center;
}

/* 
----------
ADDRESS
----------
*/

.address-section {
  text-align: center;
}

/* 
----------
CONTACT
----------
*/

.contact-section {
  text-align: center;
}

.contact-form {
  text-align: left;
}

/* 
----------
FOOTER
----------
*/

.footer-container {
  width: 100%;
  background-color: #222222;
}

.footer-section {
  color: white;
  padding: 30px 0px;
}

/* 
----------
LOGIN
----------
*/

.login-container {
  width: 30%;
}

.login-section {
  padding-top: 150px;
  text-align: center;
}

.sign-in-button {
  float: right;
}

.forgot-password {
  padding-top: 10px;
  float: left;
}
