body{
    font-family: 'Raleway', sans-serif;
}
.row
{
    margin:75px auto;
}
h3
{
    margin-bottom:0.75rem;
}
#hotelName
{
    text-align:center;
}
#formTitle
{
    text-align:center;
}
#formDiv
{
    width: 30%; 
    margin:25px auto;
}
.formItem,button
{
    width:100%;
}